/* Set up some CSS variables to theme the application. */
:root {
  --nat-navbar-bg: #210e0e;
  --nat-navbar-bg-rgb: 11, 13, 35;
  --nat-navbar-text-color: rgb(255, 255, 255);
  --nat-navbar-highlight-text: rgb(147, 136, 136);
}

.bg-dark a.dropdown-item {
  color: var(--nat-navbar-bg);
}

body .navbar {
  --bs-navbar-active-color: var(--nat-navbar-highlight-text);
  --bs-navbar-brand-color: var(--nat-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--nat-navbar-highlight-text);
  --bs-navbar-color: var(--nat-navbar-text-color);
  --bs-navbar-hover-color: var(--nat-navbar-highlight-text);
}

footer, footer a {
  color: var(--nat-navbar-text-color);
}

html,
body {
  background: url("/background.jpg");
  background-size: cover; 
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  --bs-dark: var(--nat-navbar-bg);
  --bs-dark-rgb: var(--nat-navbar-bg-rgb);
  background-size: cover;
}


.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
