/* Set up some CSS variables to theme the application. */
:root {
  --nat-navbar-bg: #000000;
  --nat-navbar-bg-rgb: 23, 3, 66;
  --nat-navbar-text-color: white;
}

html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  --bs-dark: var(--nat-navbar-bg);
  --bs-dark-rgb: var(--nat-navbar-bg-rgb);
  background: fixed center url("/background.jpg");
  background-size: cover;
}

.bg-dark a.dropdown-item {
  color: var(--nat-navbar-bg);
}

body .navbar {
  --bs-navbar-active-color: var(--nat-navbar-highlight-text);
  --bs-navbar-brand-color: var(--nat-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--nat-navbar-highlight-text);
  --bs-navbar-color: var(--nat-navbar-text-color);
  --bs-navbar-hover-color: var(--nat-navbar-highlight-text);
}


footer, footer a {
  color: var(--nat-navbar-text-color);
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
